<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- local imports -->
    <link rel="stylesheet" type="text/css" href="/static/css/annotate.css">

    <title>Energy Consumption </title>
  </head>
  <body>
<!--     <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <select class="form-select " id="measurementSelect" aria-label="Select measurement">
          <option selected>Any Measurement</option>
      </select>

      <select class="form-select " id="sensorSelect" aria-label="Select sensor">
          <option selected>Any Sensor</option>
      </select>
    </div>
    </nav>
  -->
    <div class="spinner-border align-middle" id="spinner" role="status" style="width: 20px;height:20px;position: absolute;left: 50%;top: 50%;display: none;">        
      <span class="visually-hidden">Loading...</span>
    </div>

    <!-- <h2>Electricity Consumption</h2> -->

    <nav style='position: fixed;bottom: 0;background: white;width: 100%;padding-bottom: 10px;border-top: 1px solid #a0a0a0;'>
      <div class="timeContainer" style="">
        <button id="btnEarlier" class="btn">earlier</button>
        <button id="btnLater" class="btn disabled">later</button>
        <button id="btnRecent" class="btn disabled">Most recent</button>
      </div>

      <div class="scalingContainer">
        <!-- <button id="btnScaleWeek" class="btn scaleBtn">Show Full Week</button> -->
        <button id="btnScale24" class="btn scaleBtn">Show Full Day</button>
        <button id="btnScale8" class="btn scaleBtn selected">Show 12 hours</button><!--8  30min CHECK -->
     </div>
     <div class="getDataContainer">
        <button id="saveCSVElectricity" class="btn">Download Consumption Data</button>
        <button id="saveCSVAnnotation" class="btn">Download Annotations</button>
     </div>
    </nav>

    <div id="infoBox"></div>

    <div id="container" ></div>
    <div class="dialog">
      <form id="dialogueBox" action="event" method="post">
        <h4 >Create Event</h4>
        <input type="button" value="Delete Event" id="deleteEventBtn" class="btn"/>
        <div id="infoBoxDialogue" style="display: none;"></div>
        <div> <i>Event Start:</i> <label id="evntStartLabel"></label> </div>
        <!-- <div> Event End: <label id="evntEndLabel"></label> </div> -->
        <div> <i>Duration:</i> <label id="evntDurationLabel"></label> </div>
        <div> <i>Consumption:</i> <label id="evntConsumptionLabel"></label> </div>
        <div> 
          <i>Select an event type (required)</i><br>
          <div id="iconField"></div>
        </div>

        <div> 
           <i>Flexibility</i> <br>
          <textarea id="evntFlexibility" name="flexibility" rows="2" cols="35" placeholder="How flexibile is this activity? Can you schedule it for later or earlier?"> </textarea> 
        </div>

        <div> 
          <i>Describe the event</i> <br>
          <textarea id="evntDescription" name="notes" rows="2" cols="35" placeholder=""></textarea>
        </div>


        <div style="margin:0 auto;text-align: center;">
          <input type="button" value="Cancel" id="closebtnDialogue" class="btn">
          <input type="button" value="Save" id="submitEventBtn" class="btn"/>
        </div>

        <input id="evntStart" type="hidden" name="start" />
        <input id="evntDuration" type="hidden" name="duration" />
        <input id="evntConsumption" type="hidden" name="consumption" value="" />
        <input id="evntType" type="hidden" value="1" name ="event_type_id" />
        <input id="evntCreated" type="hidden" name="created" value="" />
        <input id="evntUpdated" type="hidden" name="updated" value="" />
        <input id="evntId" type="hidden" name="id" value="" />
      </form>
    </div>

    <!-- <button id="saveCSVAnnotationBoxes" class="btn">Download Annotation Data Boxes</button> -->

    <div id="containerBoxes">
      <!-- <svg viewBox="0 0 1240 1754"></svg> -->
    </div>


    <!-- Optional JavaScript -->
    <script src="/static/js/libs/bootstrap.bundle.min.js"></script>

    <!-- local imports -->
    <script type="text/javascript" src="/static/js/libs/d3.v6.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/luxon.min.js"></script>
    <script type="text/javascript" src="/static/js/annotate.js"></script>

  </body>
  </html>